<div class="user">
  <%= link_to user do %>
    <%= gravatar_for user %>
    <p>Coordinator: <%= user.name %></p><br>
    <% if admin_logged_in? %>
      <p>
        <%= link_to "Delete #{user.name}", user, method: :delete, data: { confirm: "Are you sure you want to delete #{user.name}?" }, class: "btn btn-danger" %>
      </p>
    <% end %>
  <% end %>
</div>
<% if @show_hr %>
  <hr />
<% end %>