<% provide(:title, @user.name) %>
<h1>Coordinator: <%= @user.name %></h1>
<hr />

<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%= gravatar_for @user %>
    </div>
  </div>
</div>

<hr />
<div class="container">
  <div class="row">
    <div>
      <% if @courses.any? %>
        <ul class="courses">
          <%= render @courses %>
        </ul>
      <% else %>
        <p class="center">This coordinator does not have any courses.</p>
      <% end %>
    </div>
  </div>
</div>