<% provide(:title, 'Internal server error') %>
<h1>500 - Internal server error.</h1>
<div class="errorpage">
<%= image_tag("500.gif", alt:"500") %>
<!-- cat image for 500 page from: https://www.tumblr.com/search/transparent%20cat%20gif -->
<p>Oops! Looks like the server failed to load your request. Try again or <%= mail_to "admin@sciencecourses.rmit.edu.au", "contact the site administrator" %>.</p>
</div>