<% provide(:title, 'Page not found') %>
<h1>404 - Page not found</h1>
<div class="errorpage">
<%= image_tag("404.gif", alt:"404") %>
<!-- cat image for 404 page from: https://www.tumblr.com/search/transparent%20cat%20gif -->
<p>The page you're looking for doesn't exist! Try checking the URL.</p>
</div>