<li>
  <div class="row">
      <div class="col-md-3">
        <% unless @hide_user %>
          <% @user = User.find(course.user_id) %>
          <%= render @user %>
        <% end %>
      </div>
    <div class="col-md-6 course">
      <div class="grey-box">
        <h2>
          <%= link_to course.name, course %>
        </h2>
        <p>
          <strong>Prequisite:</strong>
          <%= course.prerequisite %>
        </p>
        <% unless @hide_cat_loc %>
          <p>
            <strong>Category:</strong>
            <%= course.categories.map { |c| link_to(c.name, c) }.join(', ').html_safe %>
          </p>
          <p>
            <strong>Location: </strong>
            <%= course.locations.map { |l| link_to(l.location, l) }.join(', ').html_safe %>
          </p>
        <% end %>
        <p>
          <strong>Created: </strong>
          <%= time_ago_in_words(course.created_at) %> ago.
        </p>
        <% if admin_logged_in? %>
          <ul class="admin-btns">
            <li><%= link_to "Delete course", course, method: :delete,
                      data: { confirm: "Are you sure you want to delete #{course.name}?" }, class: "btn btn-danger" %></li>
            <li><%= link_to "Reset votes", like_reset_path(id: course.id), method: :post, class: "btn btn-warning", remote: true %></li>
          </ul>
        <% end %>
        <ul class="stats">
          <% if logged_in? %>
            <%= render partial: "likeables/like", locals: { course: course } %>
          <% else %>
            <%= render partial: "likeables/static_like", locals: { course: course } %>
          <% end %>
        </ul>
      </div>
    </div>
      <div class="col-md-3">
        <% unless @hide_picture %>
          <%= image_tag course.picture.thumb.url if course.picture? %>
        <% end %>
      </div>
  </div>
  <hr />
</li>