@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* mixins, variables, etc. */
$blue: #337ab7;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$gray-medium-light: #eaeaea;
$gray-medium-dark: #d9d9d9;

/* universal */

body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  background-color: white;
}

.container {
  margin-top: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  margin-top: 15px;
}

.grey-box {
  background-color: $gray-medium-light;
  border: 1px solid $gray-medium-dark;
  border-radius: 5px;
  padding: 3%;
  margin-bottom: 10px;
  overflow:auto;
}

/* homepage */
#home-options {
  h1 {
    text-align: left;
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar {
  background-color: white;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

header {
  .container {
    margin-top: 15px;
  }
}

nav {
  .btn {
    margin-right: 10px;
  }
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

form.contact-form {
  height: auto;
  padding-bottom: 15px;
  input, 
  textarea {
    background-color: transparent !important;
    border: 0px;
    border-bottom: 1px solid black;
  }
  .contact-btn {
    color: black;
    border: 0px;
    width: 20%;
  }
}

/* footer */


footer {
  margin-top: 45px;
  padding: 1% 5%;
  border-top: 1px solid $gray-medium-light;
  color: black;
  background-color: $gray-medium-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    list-style: none;
    display: block;

  }
  h3 {
  font-weight: 100;
  margin-bottom: 0;
  }
  
}

    .hoverable {
      cursor:default;
      color:#f2f2f2;
      text-decoration:none;
    }
    .hoverable .hover {
      display:none;
    }
    .hoverable:hover .normal {
      display:none;
    }
    .hoverable:hover .hover {
      display:inline;  /* CHANGE IF FOR BLOCK ELEMENTS */
    }



.checkboxes {
  label {
    font-weight: normal;
    padding-right:1%;
  }
  input[type="checkbox"] {
    width: 2%;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

ul.users-list {
  width: 40%;
  margin: auto;
}

/* Show course */

.user {
  text-align: center;
  img {
    width: 80%;
    margin: 5% 10%;
  }
  p {
    display: inline-block;
    font-weight: bold;
    color: black;
  }
}

.course {
  h2 {
    text-align: left;
    color: black;
    font-size: 1.5em;
  }
  
  img {
    max-width: 90%;
  }
}

.course-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    display: inline;
    padding-right: 5px;
    font-size: 1.2em;
  }
}

/* Courses index */

.courses {
  list-style: none;
  margin-top: 15px;
  li {
    margin-bottom: 10px;
  }
}

/* Like / dislike stats */

.stats {
  list-style: none;
  li {
    display: inline;
    padding-left: 5%;
    float: right;
    .btn {
      background: transparent;
      display: inline;
      color: $blue;
      font-size: 1.2em;
    }
    .btn:hover {
      color: black;
    }
  }
}

/* Admin stuff */

.admin-btns {
  list-style: none;
  padding: 0;
  li {
    display: inline;
  }
}


.errorpage {
    margin: auto;
    width: 50%;
    padding: 10px;
}