<% provide(:title, @category.name) %>
<h1>Courses in <%= @category.name %></h1>
<hr />
<% if @courses.any? %>
  <ul class="courses">
    <%= render @courses %>
  </ul>
<% else %>
  <p class="center">None to show.</p>
<% end %>