<% provide(:title, @location.location) %>
<h1>Courses scheduled in <%= @location.location %></h1>
<hr />
<% if @courses.any? %>
  <ul class="courses">
    <%= render @courses %>
  </ul>
<% else %>
  <p class="center">None to show.</p>
<% end %>