<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "YOURCOURSE", root_path, id: "logo", class: "btn btn-lg btn-info" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <!-- Category -->
        <li>
          <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">
            <i class="fa fa-list-ol" aria-hidden="true"></i> Category <b class = "caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if Category.any? %>
              <% Category.all.each do |c| %>
                <li><%= link_to c.name, c %></li>
              <% end %>
            <% end %>
            <% if logged_in? %>
              <li class="divider"></li>
              <li>
                <%= link_to "Create Category", new_category_path %>
              </li>
            <% end %>
          </ul>
        </li>
        
        <!-- Location -->
        <li>
          <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">
            <i class="fa fa-location-arrow" aria-hidden="true"></i> Location <b class = "caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if Location.any? %>
              <% Location.all.each do |l| %>
                <li><%= link_to l.location, l %></li>
              <% end %>
            <% end %>
            <% if logged_in? %>
              <li class="divider"></li>
              <li>
                <%= link_to "Create Location", new_location_path %>
              </li>
            <% end %>
          </ul>
        </li>
        
        <!-- Coordinator buttons -->
        <% if logged_in? %>
          <li>
            <%= link_to new_course_path, class: "btn btn-info" do %>
              <i class="fa fa-file-text-o" aria-hidden="true"></i> New Course
            <% end %>
          </li>
          <li>
            <a href="#" class="dropdown-toggle btn btn-danger" data-toggle="dropdown">
              <%= current_user.name %> <b class = "caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View Profile", current_user %></li>
              <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% end %>
        
        <!-- Admin logout button -->
        <% if admin_logged_in? %>
          <li>
            <%= link_to users_path, class: "btn btn-info" do %>
                <i class="fa fa-users" aria-hidden="true"></i> Coordinators
              <% end %>
          </li>
          <li>
              <%= link_to admin_logout_path, method: "delete", class: "btn btn-info" do %>
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
              <% end %>
          </li>
        <% end %>
        
        <!-- Login button -->
        <% if !logged_in? && !admin_logged_in? %>
          <li>
            <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown">
              <i class="fa fa-sign-in" aria-hidden="true"></i> Login <b class = "caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Coordinator Login", login_path %></li>
              <li><%= link_to "Admin Login", admin_login_path %></li>
            </ul>
          </li>
        <% end %>
        
      </ul>
    </nav>
  </div>
</header>